.centertext {
    text-align: center;
}

.row.equal {
    display: table;
}

.row.equal [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.row.equal [class*="bottom"] {
    float: none;
    display: table-cell;
}

.row.equal [class*="right"] {
    float: right;
    display: table-cell;
}

.panel
{
    width: 25%;
    position: fixed;
    bottom: -20px;
    right: 40px;
}

.panel-heading
{
    cursor: pointer;    
    height: 45px;
}

.panel-heading .panel-title
{
    font-size: 13px !important;
    display: flex !important;
    line-height: 25px !important;
}

.panel-body
{
    max-height: 300px;
    overflow-y: auto;
}

#sendBtn
{
    padding: 6px 16px;
    border-radius: 25px;
    border: none;
    background-color: rgba(41,171,284,.8);    
    outline: none;
}

#msg
{
    padding: 6px 15px;
    width: 75%;
    border: 1px solid gainsboro;
    float: left;
    border-radius: 35px;
    margin-right: 10px;
    outline: none;
}

.panel-bottom
{
    position: absolute;
    bottom: 10px;
}

#log
{
    width: 100%;
    word-wrap: break-word;
    overflow-y: auto;
    margin-bottom: 40px;
    max-height: 200px;
}

#log p
{
    min-height: 20px;
    padding: 6px 10px;
    background-color: rgba(168,252,50,.6);
    border-left: 4px solid rgba(168,252,50,9);
    border-radius: 5px;
    width: fit-content;
    margin: 0 0 5px !important;
    word-break: break-word;
}

#log div
{
    width: 100%;
    display: inline-block;
}

#log  div  #umsg
{
    background-color: rgba(254,46,100,.4) !important;
     float: right;     
    border-right: 4px solid rgba(254,46,100,.3) !important;
    border-left: none !important;
    margin-bottom: -1px !important;
    word-break: break-word; 
}


.btn-danger, .btn-danger:hover, .btn-danger:active
{
    background-color: transparent !important; 
}

.btn-danger
{
    padding: 14px 15px 14px 21px !important;
}

.navbar-brand
{
    padding: 0px !important;
}

